# List execise

In [1]:
import random

# Create a list of 5 random numbers
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Original List:", random_numbers)

Original List: [48, 28, 78, 29, 29]

In [2]:
# Insert 3 new values into the list
random_numbers.extend([random.randint(101, 200) for _ in range(3)])
print("Updated List:", random_numbers)

Updated List: [48, 28, 78, 29, 29, 188, 185, 148]

In [3]:
# Print each element using a for loop
print("Elements in the list:")
for number in random_numbers:
    print(number)

Elements in the list:
48
28
78
29
29
188
185
148

# Dictionary execise

In [4]:
# Create the dictionary
person_info = {
    "name": "John",
    "age": 25,
    "address": "New York"
}
print("Original Dictionary:", person_info)

Original Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [5]:
# Add a new key-value pair to the dictionary
person_info["phone"] = "1234567890"
print("Updated Dictionary:", person_info)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

# Set exercise

In [6]:
# Create the set
my_set = {1, 2, 3, 4, 5}
print("Original Set:", my_set)

Original Set: {1, 2, 3, 4, 5}

In [7]:
# Add the value 6 to the set
my_set.add(6)
print("Set after adding 6:", my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [8]:
# Remove the value 3 from the set
my_set.remove(3)  
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

# Tuple exercise

In [9]:
# Create the tuple
my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

In [10]:
# Print the length of the tuple
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4